.editableCardContainer {
  display: flex;
  flex-direction: column;
  padding: 35px;
  background-color: white;
  gap: 50px;
  justify-content: space-between;
}

.editableCardSwitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editableCardSwitchText {
  font-size: 16px;
  color: var(--virgo-header2);
}

.editableCardQuestion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.editableCardTitle {
  font-size: 18px;
  font-weight: bold;
}

.editableCardSubtitle {
  font-size: 16px;
  color: var(--virgo-header2);
}

.editableCardAnswer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
}

.editableCardProcessBtn {
  align-self: center;
}
